@import url('https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu+Mono&display=swap');

body, *{
  font-family: 'Comfortaa', cursive !important;
}

code{
  font-family: 'Ubuntu Mono', monospace !important;
}

pre, code{
  color: #2f2f2f !important;
  border: none !important;
  background-color: #d3d3d3 !important;
}


code > a{
  color: #2f2f2f !important;
}

pre{
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(207, 207, 207,.8);
  -moz-box-shadow: 0px 0px 17px 0px rgba(207, 207, 207,.8);
  box-shadow: 0px 0px 17px 0px rgba(207, 207, 207, .8);
}

.btn-copy-ex{
  border-radius: 15px;
}
