@import url('https://fonts.googleapis.com/css?family=Comfortaa|Ubuntu+Mono&display=swap');

body, *{
  font-family: 'Comfortaa', cursive !important;
}

code{
  font-family: 'Ubuntu Mono', monospace !important;
}

pre, code{
  color: #2f2f2f !important;
  border: none !important;
  background-color: #fff !important;
}


code > a{
  color: #2f2f2f !important;
}

.btn-copy-ex{
  border-radius: 15px;
}
